body {
  overflow-x: hidden;
  background-color: #363543;
  scroll-behavior: smooth;
}
/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #363543;
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: -8px;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
}


.list {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

.list-items {
  padding: 16px;
}

svg {
  display: block;
  width: 14px;
}

.menu {
  display: block;
  width: 14px;
}

.web {
  display: block;
  width: 14px;
}

.icon-list {
  display: flex;
}

.icon-list li {
  padding: 16px;
}

.name {
  height: 40px;
  margin-top: 20px;
  padding: 8px;
}

/* Info Styling */
.container {
  background-color: #363543;
  width: 102%;
  height: 490px;
  margin-left: -8px;
  margin-top: 82px;
}

.myname {
  width: 115px;
  margin-left: 140px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.line {
  background-color: yellow;
  width: 155px;
  height: 6px;
  margin-left: 150px;
  margin-top: -45px;
}

.aboutme {
  width: 180px;
  margin-top: 20px;
  margin-left: 150px;
  font-family: 'Antic Slab', serif;
  color: aliceblue;
}

.image {
  background-color: #2d2d39;
  width: 500px;
  height: 500px;
  margin-left: 436px;
  margin-top: -327px;
  border-radius: 50%;
}

.profile {
  width: 510px;
  height: 408px;
}

.services {
  display: flex;
  flex-direction: column;
  margin-left: 893px;
  margin-top: -455px;
  width: 205px;
  font-family: 'Antic Slab', serif;
  color: aliceblue;
}

.social-icons {
  display: inline-block;
  padding: 0px;
  margin-top: 40px;
  width: 300px;
  margin-left: 820px;
  height: 80px;
}

.social-icons ul {
  display: flex;
  margin-top: -38px;
  margin-left: 70px;
  padding: 0px;
}

.social-icons ul li i {
  color: #ffbe3d;
  background: #464958;
  margin: 0 13px 0px 0px;
  padding: 10px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
}

.show-more {
  color: #ffbe3d;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 893px;
}

.right-arrow {
  width: 40px;
}

h1 {
  width: 230px;
  font-family: 'Passion One', cursive;
  color: aliceblue;
}

.im {
  color: #a0a0a0;
  font-size: 59px;
  line-height: 72px;
  font-weight: 400;
  text-transform: capitalize;
}

.omar {
  display: inline-block;
  color: #fff;
  font-size: 58px;
  font-weight: 700;
  width: 680px;
  text-transform: uppercase;
  text-shadow: 5px 6px 8px #00000061;
  font-family: 'Montserrat', sans-serif;
}

.social-media-icons {
  background: #403f51;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 115px;
  margin-top: 20px;
  margin-left: 132px;
  box-shadow: 0px 0px 20px 1px #00000052;
  border-radius: 0px;
  position: relative;
}

.media-icon {
  background: #32323d;
  text-align: center;
  padding: 24px;
  margin-top: 9px;
  margin-bottom: 16px;
}


.media-icon img {
  width: 100%;
  height: 63px;
  object-fit: contain;
}

.para {
  margin: 0;
  color: #9a98a6;
  font-size: 16px;
  width: 290px
}

h4 {
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 15px;
}

.para2 {
  font-size: 22px;
  color: white;
  font-weight: 500;
  font-family: 'Montserrat';
  width: 330px;
}

.fa-long-arrow-right {
  margin-top: 2px;
  margin-left: 5px;
  color: #ffbe3d;
}

.needs {
  background: #282834;
  padding: 160px px 0 60px;
  color: white;
  width: 103%;
  height: 653px;
  margin-top: -20px;
  margin-left: -10px;
}


.left-column {
  width: 475px;
  padding-top: 101px;
  padding-left: 115px;
}

h3 {
  font-size: 45px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: white;
  line-height: 40px;
}

.needs-para {
  margin: 0;
  color: #9a98a6;
  font-size: 17px;
}

.projects {
  width: 40%;
  min-height: 192px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-top: -83px;
  padding: 80px;
}

.myproject {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.num {
  font-size: 32px;
  color: #F4B400;
}

.con {
  font-size: 19.2px;
  color: rgba(255, 255, 255, 0.588);
}

.community {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 198px;
  margin-left: 201px;
  margin-top: -269px;
}

.mycommunity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 198px;
}

.right-column {
  margin-top: -624px;
  margin-left: 720px;
  width: 45%;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mywork {
  width: 85%;
  height: 23%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0px;
  margin-right: 96px;
  border-bottom: 2.5px solid #363543;
}

.pro-img {
  height: 70%;
  width: 35%;
}

.proj {
  height: 110%;
  width: 95%;
  object-fit: cover;
}

.proj-cont {
  padding: 0 0 0 16px;
  width: 35%;
}

.proj-head {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 1.6px;
  color: white;
}

.proj-num {
  color: rgba(255, 255, 255, 0.588);
  font-size: 16px;
  line-height: 0px;
  font-weight: bold;
}

#arr {
  margin-top: 2px;
  margin-left: 270px;
}

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 64px 64px 0px 64px;
}

.boxes {
  display: block;
  width: 50%;
  height: 272px;
  color: white;
  font-size: 17.6px;
  margin: 28.8px;
  padding: 24px;
  background-color: #353545;
  box-sizing: content-box;
  box-shadow: 2px 4px 5px 3px #242424;
}

.development {
  width: 48px;
  border: 10px solid #282834;
  border-radius: 45%;
  background-color: #282834;
}

.dev-head {
  font-size: 27.2px;
  line-height: 48px;
}

.dev-para {
  font-size: 20.8px;
  color: rgba(255, 255, 255, 0.588);
}

footer {
  background: #282834;
  margin-top: -81px;
  width: 102%;
  margin-left: -9px;
}