@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: darkgray;
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: -8px;
}


.list {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

.list-items {
  padding: 1rem;
}

svg {
  display: block;
  width: 14px;
}

.menu {
  display: block;
  width: 14px;
}

.web {
  display: block;
  width: 14px;
}

.icon-list {
  display: flex;
}

.icon-list li {
  padding: 1rem;
}

.name {
  height: 40px;
  margin-top: 20px;
  padding: 0.5rem;
}

.container {
  background-color: gray;
  width: 102%;
  height: 490px;
  margin-left: -8px;
  margin-top: 82px;
}

.myname {
  width: 115px;
  margin-left: 140px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.line {
  background-color: yellow;
  width: 155px;
  height: 6px;
  margin-left: 150px;
  margin-top: -45px;
}

.aboutme {
  width: 180px;
  margin-top: 20px;
  margin-left: 150px;
  font-family: 'Antic Slab', serif;
  color: aliceblue;
}

.image {
  background-color: black;
  width: 500px;
  height: 500px;
  margin-left: 375px;
  margin-top: -395px;
  border: 1px solid;
  border-radius: 50%;
}

.profile {
  width: 510px;
  height: 408px;
}

.services {
  display: flex;
  flex-direction: column;
  margin-left: 825px;
  margin-top: -455px;
  width: 205px;
  font-family: 'Antic Slab', serif;
  color: aliceblue;
}


.fa {
  padding: 10px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.social-icons {
  width: 300px;
  margin-left: 820px;
  height: 80px;
}

.fa-facebook {
  background: darkgrey;
  color: burlywood;
}

.fa-twitter {
  background: darkgrey;
  color: burlywood;
}

.fa-instagram {
  background: darkgrey;
  color: burlywood;
}

.fa-pinterest {
  background: darkgrey;
  color: burlywood;
}

.show-more {
  display: flex;
  flex-direction: row;
  width: 505px;
  height: 25px;
  margin-left: 825px;
  color: wheat;
}

.right-arrow {
  width: 40px;
}

h1 {
  width: 230px;
  font-family: 'Passion One', cursive;
  color: aliceblue;
}

.im {
  color: darkslategray;
}

.omar {
  display: inline-block;
  font-size: 4.5rem;
  width: 450px;
}

.social-media-icons {
  background-color: rgb(114, 113, 113);
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 100px;
  margin-top: 130px;
  margin-left: 132px;
}

.meta {
  width: 100px;
}

.google {
  width: 100px;
}

.linkedin {
  width: 100px;
}

.slack {
  width: 100px;
}